# Copyright (c) 2019-2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

on early-boot
write /dev/ipa 1

# bootloader revision 1, SM-G9960(asia)
on fs && property:ro.boot.rp=1 && property:ro.boot.em.model=SM-G9960
    mount none /vendor/firmware/ipa/t2q/rev1/yupik_ipa_fws.b01 /vendor/firmware/yupik_ipa_fws.b01 bind
    mount none /vendor/firmware/ipa/t2q/rev1/yupik_ipa_fws.elf /vendor/firmware/yupik_ipa_fws.elf bind
    mount none /vendor/firmware/ipa/t2q/rev1/yupik_ipa_fws.mdt /vendor/firmware/yupik_ipa_fws.mdt bind
    mount none /vendor/firmware/ipa/t2q/rev1/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/ipa/t2q/rev1/wpss.mdt /vendor/firmware/wpss.mdt bind

